
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Piwnych Smakoszy</title>
    <link rel="stylesheet" href="{% static "controler/style.css" %}">
</head>
<body>
    <header>
        <h1>Forum Żydowskie</h1>
        <p>Forum o tematyce judaizmu ~falling change money sound ✡️🕎</p>
    </header>
    <div id="overlay"><img src="{% static "controler/jew.png" %}">
        <audio id="background-audio" autoplay loop>
            <source src="{% static "controler/jewmusic.mp3" %}" type="audio/mp3"></audio>
    <main>
        <!-- Form to add new posts -->
        <section class="new-post">
            <h2>Dodaj post</h2>
            <form id="postForm">
                <label for="username">Nazwa:</label>
                <input type="text" id="username" placeholder="Podaj nazwę" required>
                
                <label for="topic">Temat:</label>
                <input type="text" id="topic" placeholder="Podaj temat" required>
                
                <label for="message">Tekst:</label>
                <textarea id="message" rows="5" placeholder="Wprowadź wiadomość" required></textarea>
                
                <button type="submit">Udostępnij</button>
            </form>
        </section>

        <!-- Section to display posts -->
        <section class="posts">
            <h2>Dyskusje na forum i długi</h2>
            <div id="postContainer">
                <!-- Posts will be dynamically loaded here -->
            </div>
        </section>

        <div id="postContainer">
            <!-- Each comment will include Reply and Delete buttons dynamically via JS -->
        </div>
    </main>

    </div>
</body>

    <footer>
        <p>&copy; Jewish Forum | 🕎✡️</p>
    </footer>

    <script src="{% static "controler/script.js" %}"></script>
</body>
</html>
